= simple_form_for @artist do |f|
  -if @artist.errors.any?
    .alert.alert-error Some errors were found, please take a look:

  = f.input :name

  = f.input :bio
    
  = f.input :picture
  
  .actions
    = f.submit 'Save', class: 'btn btn-primary'
