%h1
  = @artist.name
%br
.row
  .span3.well
    .image=image_tag @artist.picture.url(:medium)
  .span5.well.bio
    %p
    = @artist.bio
  .span3
    %p 
      %b Similar artists (via Last.fm):
    #similar{'data-load' => similar_to_artist_path(@artist)}
      Loading...

%b Albums:
%ul.thumbnails
  - @artist.albums.each do |album|
    -album.artist = nil
    = render partial: 'albums/album', locals: {album: album, edit: true}
%p
  = link_to 'Add an album', 
            { controller: 'albums', action: 'add', artist: @artist.id },
            class: 'btn btn-primary'

%p
  = link_to 'Edit artist', edit_artist_path(@artist), class: 'btn'
  \|
  = link_to 'Back', artists_path