

%p#notice= notice

%p
  %b Name:
  = @artist.name
%p
  %b Bio:
  = @artist.bio

%p
  %b Similar artists:
  #similar{'data-load' => find_similar_to_artist_path(@artist, :format => :js)}
    Loading...

= link_to 'Edit', edit_artist_path(@artist)
\|
= link_to 'Back', artists_path