= form.fields_for :songs do |song_form|
  .field
    = song_form.label :name
    = song_form.text_field :name
  .field
    = song_form.label :duration
    = song_form.number_field :duration
  - unless song_form.object.nil? || song_form.object.new_record?
    .field
      = song_form.label :_destroy, 'Remove:'
      = song_form.check_box :_destroy
