%li.span3
  .thumbnail
    %p.image
      = link_to album do
        = image_tag album.cover.url(:medium)
    .name
      %b= link_to truncate(album.name,length: 20), album
    .artist
      -if album.artist
        = link_to truncate(album.artist.name,length: 20), album.artist
    %h6
      = album.release_date.year
      \|
      = pluralize album.songs.count , 'song'

    -if edit
      = link_to 'Edit', edit_album_path(album)
      \|
      = link_to 'Delete', album, :confirm => 'Are you sure?', :method => :delete