= nested_form_for @album, :html => { :multipart => true } do |f|
  -if @album.errors.any?
    #error_explanation
      %h2= "#{pluralize(@album.errors.count, "error")} prohibited this album from being saved:"
      %ul
        - @album.errors.full_messages.each do |msg|
          %li= msg

  -name = ''
  -name = @album.artist.name if @album.artist
  .field
    = f.label :artist
    = f.text_field :artist, :value => name

  .field
    = f.label :name
    = f.text_field :name
  .field
    = f.label :release_date
    = f.date_select :release_date
  .field
    = f.label :info
    = f.text_area :info
  .field
    = f.label :cover
    = f.file_field :cover
  .field 
    = f.label :songs
    = f.fields_for :songs
    = f.link_to_add 'Add a song', :songs
  .actions
    = f.submit 'Save'
