= simple_nested_form_for @album, html: { multipart: true } do |f|
  -if @album.errors.any?
    .alert.alert-error Some errors were found, please take a look:
      
  = f.input :artist, 
            input_html: {value: @name } 

  = f.input :name

  = f.input :release_date, 
            use_short_month: true, 
            input_html: {class: 'date-picker'},
            start_year: 1970,
            end_year: 2038

  = f.input :genre

  = f.input :info

  = f.input :cover,
            wrapper_html: { class: 'inline' }

  = f.label :songs
  = f.simple_fields_for :songs
  = f.link_to_add 'Add a song', :songs
  %br
  %br
  .actions
    = f.submit 'Save', class: 'btn'