= simple_nested_form_for @album, html: { multipart: true } do |f|
  -if @album.errors.any?
    .alert.alert-error Some errors were found, please take a look:
      
  = f.input :artist, 
            input_html: {value: @name } 

  = f.input :name

  = f.input :release_date, 
            use_short_month: true, 
            input_html: {class: 'date-picker'},
            start_year: 1970,
            end_year: 2038

  = f.input :genre

  = f.input :info

  = f.input :cover,
            wrapper_html: { class: 'inline' }
  / = link_to 'Find cover on Last.fm', cover_albums_path(@album), remote: true, id: 'cover_link', class: 'inline'

  = f.label :songs
  = f.simple_fields_for :songs
  = f.link_to_add 'Add a song', :songs
  %br
  %br
  .actions
    = f.submit 'Save', class: 'btn btn-primary'

/ #cover.modal.hide.fade
/   .modal-header
/     %button{:type => "button", :class => "close", "data-dismiss" => "modal"}
/       ×
/     %h3 Cover from Last.fm

/   .modal-body
/     %p Possible cover for this album:
/     =image_tag '/images/loading.gif', id: 'cover_image'
/   .modal-footer
/     %a{:class =>"btn", "data-dismiss" => "modal"}
/       Cancel
/     %a{:class =>"btn btn-primary", "data-dismiss" => "modal"}
/       Save cover