- @album.songs.build
= form_for @album, :html => { :multipart => true } do |album_form|
  -if @album.errors.any?
    #error_explanation
      %h2= "#{pluralize(@album.errors.count, "error")} prohibited this album from being saved:"
      %ul
        - @album.errors.full_messages.each do |msg|
          %li= msg

  -name = ''
  -name = @album.artist.name if @album.artist
  .field
    = album_form.label :artist
    = album_form.text_field :artist, :value => name

  .field
    = album_form.label :name
    = album_form.text_field :name
  .field
    = album_form.label :release_date
    = album_form.date_select :release_date
  .field
    = album_form.label :info
    = album_form.text_area :info
  .field
    = album_form.label :cover
    = album_form.file_field :cover
  / %p Songs
  / = render  :partial => 'songs/form', :locals => {:form => album_form}
  .actions
    = album_form.submit 'Save'
