%p
  %b Artist:
  =link_to @album.artist.name, @album.artist if @album.artist

%p
  %b Name:
  = @album.name
%p
  %b Release date:
  = @album.release_date
%p
  %b Info:
  = @album.info
%p
  %b Cover:
  = image_tag @album.cover.url(:medium)
%p
  %b Songs:
  - @album.songs.each do |song|
    %p
      = song.name
      = to_min_sec song.duration

= link_to 'Edit', edit_album_path(@album)
\|
= link_to 'Back', albums_path
