= link_to "Sounds", root_path, :class => 'brand'
%ul.nav
  %li#home.active= link_to 'Home', root_path
  %li#artists= link_to 'Artists', artists_path
  %li#albums= link_to 'Albums', albums_path
= form_tag({controller: 'search', action: 'search'}, method: 'get', class: 'navbar-search pull-left') do
  = text_field_tag :query, nil, placeholder: 'Search', class: 'search-query'  